<form name="forgot" #forgot="ngForm">
  <input type="text" name="emailId" class="form-control" placeholder="Username" [(ngModel)]="model.emailId" />

  <div class="links-container text-center">
    <a [routerLink]="['/auth/register']" title="Register for an Account">Register for an Account</a>
    &nbsp;|&nbsp;
    <a [routerLink]="['/auth/login']" title="Return to Login">Return to Login</a>
  </div>

  <div class="buttons-container text-center"><button (click)="submit(forgot.form)" class="btn btn-primary">Submit</button></div>
</form>