<form>
  <input type="text" name="email_address" class="form-control" placeholder="Username" [(ngModel)]="model.email_address" />

  <div class="links-container text-center">
    <a [routerLink]="['/auth/register']" title="Register for an Account">Register for an Account</a>
    &nbsp;|&nbsp;
    <a [routerLink]="['/auth/login']" title="Return to Login">Return to Login</a>
  </div>

  <div class="buttons-container text-center"><button (click)="submit()" class="btn btn-primary">Submit</button></div>
</form>