.modal-dialog {
  ol, ul {
    font-size: 1.6rem;
    line-height: 3rem;
  }
  ol {
    > li {
      margin-bottom: 1rem;
    }
  }
}
ol {
  > li {
    > ol {
      margin-left: 4rem;
    }
    em {
      font-size: 1.2rem;
      line-height: 1.2;
    }
  }
}
.circular {
  font-family: $primary-font-bold;
  border: 1px solid $neutral-shade-1;
  border-radius: 50%;
  text-align: center;
  width: 3.8rem;
  height: 3.8rem;
  display: inline-block;
  margin-right: 1.5rem;
  line-height: 1.2;
  padding: .7rem;
}