<form name="reset" #reset="ngForm">
  <input type="password" name="password" class="form-control" placeholder="New Password" [(ngModel)]="password" required />
  <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password" [(ngModel)]="confirmpassword" required />

  <div class="links-container text-center">
    <a [routerLink]="['/auth/forgot']" title="Forgot password?">Forgot password?</a>
    &nbsp;|&nbsp;
    <a [routerLink]="['/auth/login']" title="Return to Login">Return to Login</a>
  </div>

  <div class="buttons-container text-center"><button (click)="submit(reset.form)" class="btn btn-primary">Set Password</button></div>
</form>
