<nav class="side-menu navbar navbar-expand-md">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li [className]="mapToolState.queryTool ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" href="javascript:;" (click)="selectTool('SET_QUERY_TOOL', !mapToolState.queryTool)"><i class="fa fa-search"></i> Query tool</a>
      </li>
      <li [className]="mapToolState.bufferTool ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" href="javascript:;" (click)="selectTool('SET_BUFFER_TOOL', !mapToolState.bufferTool)"><i class="fa fa-bullseye"></i> Buffer tool</a>
      </li>
      <li [className]="mapToolState.layerSelect ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" href="javascript:;" (click)="selectTool('SET_LAYER_TOOL', !mapToolState.layerSelect)"><i class="fa fa-layer-group"></i> Layer select tool</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']"><i class="fa fa-file-alt"></i> Report tool</a>
      </li>
      <li [className]="mapToolState.drawToSelect ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" href="javascript:;" (click)="selectTool('SET_DRAW_TOOL', !mapToolState.drawToSelect)"><i class="fa fa-object-group"></i> Draw to select</a>
      </li>
      <li [className]="mapToolState.measuringTool ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" href="javascript:;" (click)="selectTool('SET_MEASURE_TOOL', !mapToolState.measuringTool)"><i class="fa fa-pencil-ruler"></i> Measuring tool</a>
      </li>
      <li [className]="mapToolState.weatherTool ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" href="javascript:;" (click)="selectTool('SET_WEATHER_TOOL', !mapToolState.weatherTool)"><i class="fa fa-cloud-sun-rain"></i> Weather tool</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']"><i class="fa fa-calendar-alt"></i> Crop calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']"><i class="fa fa-address-book"></i> User directory</a>
      </li>
    </ul>
  </div>
</nav>
