<nav class="side-menu navbar navbar-expand-md">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']"><i class="fa fa-search"></i> Query tool</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']"><i class="fa fa-bullseye"></i> Buffer tool</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']"><i class="fa fa-layer-group"></i> Layer select tool</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']"><i class="fa fa-file-alt"></i> Report tool</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']"><i class="fa fa-object-group"></i> Draw to select</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']"><i class="fa fa-pencil-ruler"></i> Measuring tool</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']"><i class="fa fa-cloud-sun-rain"></i> Weather tool</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']"><i class="fa fa-calendar-alt"></i> Crop calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']"><i class="fa fa-address-book"></i> User directory</a>
      </li>
    </ul>
  </div>
</nav>
