<app-alerts></app-alerts>
<div *ngIf="isSignedIn(); then secureBlock; else authBlock"></div>
<ng-template #authBlock>
  <div class="app-bg-container">
    <section>
      <div class="inner">
        <div class="center-container">
          <div class="panel panel-auth">
            <div class="login-logo text-center"><img src="/assets/brand/logo-front.png" height="140" alt="AgroXchange" /></div>
            <div class="login-form">
              <router-outlet></router-outlet>
            </div>
            <!--<div class="login-footer">
              <small>Copyright &copy; {{ today | date : 'yyyy' }} AgroXchange. All Rights Reserved.</small>
            </div>-->
          </div>
        </div>
      </div>
    </section>
  </div>
</ng-template>
<ng-template #secureBlock>
  <div class="app-container">
    <div class="wrapper-menu">
      <app-menu></app-menu>
    </div>
    <div class="wrapper-content">
      <app-header></app-header>
      <router-outlet></router-outlet>
      <div class="footer-padding"></div>
      <app-footer></app-footer>
    </div>
  </div>
</ng-template>
