<header>
  <nav class="navbar navbar-expand-lg navbar-profile">
    <a class="navbar-brand" [routerLink]="['dashboard']"><img src="/assets/brand/logo.png" height="40" alt="AgroXchange" /></a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" title="{{user.firstName}} {{user.lastName}}">
          {{user.firstName}} {{user.lastName}} <a href="#" title="Logout" (click)="doSignout()"><i class="fa fa-sign-out-alt"></i></a>
        </a>
      </li>
    </ul>
  </nav>
</header>
