<form>
  <div class="buttons-container">
    <button class="btn btn-primary btn-fill btn-icon-left"><i class="sprite-register farmer"></i>I'm a farmer</button>
    <button class="btn btn-register-2 btn-fill btn-icon-left"><i class="sprite-register aggregator"></i>I'm an aggregator</button>
    <button class="btn btn-register-3 btn-fill btn-icon-left"><i class="sprite-register wholesaler"></i>I'm a wholesaler/retailer</button>
    <button class="btn btn-register-4 btn-fill btn-icon-left"><i class="sprite-register processor"></i>I'm a processor</button>
    <button class="btn btn-register-5 btn-fill btn-icon-left"><i class="sprite-register offtaker"></i>I'm an offtaker</button>
    <button class="btn btn-register-6 btn-fill btn-icon-left"><i class="sprite-register supplier"></i>I'm an input supplier</button>
  </div>

  <div class="links-container text-center">
    <a [routerLink]="['/auth/login']" title="Already have an Account? Login">Already have an Account? Login</a>
  </div>
</form>