<form name="register" #register="ngForm">
  <div class="buttons-container" *ngIf="!user.role">
    <button *ngFor="let r of roleList; let i = index" class="btn {{r.btnClass}} btn-fill btn-icon-left" (click)="selectRole(r)"><i class="sprite-register {{r.sprite}}"></i>{{r.label}}</button>
  </div>
  <div *ngIf="user.role">
    <h4>{{chosenRole.label}}</h4>
    <input type="text" name="emailId" class="form-control" placeholder="Email ID" [(ngModel)]="user.emailId" required />
    <input type="text" name="firstName" class="form-control" placeholder="First Name" [(ngModel)]="user.firstName" required />
    <input type="text" name="lastName" class="form-control" placeholder="Last Name" [(ngModel)]="user.lastName" required />
    <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" required />
  </div>

  <div class="links-container text-center">
    <a [routerLink]="['/auth/login']" title="Already have an Account? Login">Already have an Account? Login</a>
  </div>

  <div *ngIf="user.role" class="buttons-container text-center">
    <button (click)="user.role=''" class="btn btn-primary">&lt; Back</button>
    <button (click)="submit(register.form)" class="btn btn-primary">Register</button>
  </div>
</form>