<agm-map 
  [zoom]="initialZoom"
  [latitude]="ondoMarker.latitude" 
  [longitude]="ondoMarker.longitude" 
  [mapTypeId]="mapType"
  (mapClick)="mapClicked($event)"
  (boundsChange)="boundsChanged($event)">
  <ng-container *ngIf="!mapToolState.bufferTool">
    <agm-marker 
      *ngFor="let m of mapMarkers; let i = index"
      (markerClick)="mapMarkerClicked(m, i)"
      [latitude]="m.latitude"
      [longitude]="m.longitude"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="mapMarkerDragEnd(m, $event)">
    </agm-marker>
  </ng-container>
  <ng-container *ngIf="mapToolState.bufferTool">
    <agm-marker 
      *ngFor="let m of bufferMarkers; let i = index"
      (markerClick)="mapMarkerClicked(m, i)"
      [latitude]="m.latitude"
      [longitude]="m.longitude"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="mapMarkerDragEnd(m, $event)">
    </agm-marker>
  </ng-container>
  <agm-circle *ngIf="mapToolState.bufferTool" 
    [latitude]="mapBuffer.latitude" 
    [longitude]="mapBuffer.longitude" 
    [radius]="mapBuffer.radius"
    [fillColor]="'red'"
    [circleDraggable]="true"
    [editable]="true"
    (centerChange)="bufferCenterChanged($event)"
    (radiusChange)="bufferRadiusChanged($event)">
  </agm-circle>
</agm-map>
