<agm-map 
  [zoom]="initialZoom"
  [latitude]="ondoMarker.latitude" 
  [longitude]="ondoMarker.longitude" 
  [mapTypeId]="mapType"
  (mapClick)="mapClicked($event)"
  (boundsChange)="boundsChanged($event)">
  <ng-container *ngIf="!mapToolState.bufferTool && !mapToolState.drawToSelect">
    <agm-marker 
      *ngFor="let m of mapMarkers; let i = index"
      (markerClick)="mapMarkerClicked(m, i)"
      [latitude]="m.latitude"
      [longitude]="m.longitude"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="mapMarkerDragEnd(m, $event)">
    </agm-marker>
  </ng-container>
  <ng-container *ngIf="mapToolState.bufferTool || mapToolState.drawToSelect">
    <agm-marker 
      *ngFor="let m of filteredMarkers; let i = index"
      (markerClick)="mapMarkerClicked(m, i)"
      [latitude]="m.latitude"
      [longitude]="m.longitude"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="mapMarkerDragEnd(m, $event)">
    </agm-marker>
  </ng-container>
  <agm-circle *ngIf="mapToolState.bufferTool && mapBuffer.drawn" 
    [latitude]="mapBuffer.latitude" 
    [longitude]="mapBuffer.longitude" 
    [radius]="mapBuffer.radius"
    [fillColor]="'red'"
    [circleDraggable]="true"
    [editable]="true"
    (centerChange)="bufferCenterChanged($event)"
    (radiusChange)="bufferRadiusChanged($event)">
  </agm-circle>
  <agm-rectangle *ngIf="mapToolState.drawToSelect && mapRectangle.nwDrawn"
    [north]="mapRectangle.north"
    [east]="mapRectangle.east"
    [south]="mapRectangle.south"
    [west]="mapRectangle.west"
    [fillColor]="'red'"
    [rectangleDraggable]="true"
    [editable]="true"
    (boundsChange)="rectBoundsChanged($event)">
  </agm-rectangle>
</agm-map>
